<!DOCTYPE html>
<html>
  <head>
    <title>StockList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_inner">
        <h2 class="header_left"><a href="/">在庫リスト</a></h2>
        <div class="header_right">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
