<!DOCTYPE html>
<html>
  <head>
    <title>StockList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header class="header">
      <div class="header_inner">
        <h3 class="header_left"><a href="/">在庫リスト</a></h3>
        <div class="header_right">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <%= link_to "帳票情報登録", new_report_path, class: 'header_link' %>
              <%= link_to "新規ユーザー登録", new_user_registration_path, class: 'header_link' %>
            <% end %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header_link' %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
